.connectionStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: gray;
}

.device {
    display: flex;
    align-items: center;
    justify-content: center;
}